.nav {
    background-color: black;
}

.header  {
    background-color: rgb(84, 65, 192);
    justify-content: center;
    display: block;

}

img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}